body{
    background-color: coral;
}

.navbar-brand{
    font-size: 1.5em;
    color: red;
}

.nav-link{
    font-weight: 400;
}

.nav-link:hover{
    color: red;
}

@media (max-width: 1200px){
    #1{
        font-size: 3rem;
         
    }
}